.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
  background-size: cover;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#50c4c8, #5214cd);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#50c4c8, #5214cd);
  overflow: hidden;
}

#radius-shape-3 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#50c4c8, #5214cd);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.form-label {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: medium;
  line-height: 20px;
  padding-top: 10px;
  color: #5214cd;
  background: linear-gradient(to right, #608aa7 0%, #5214cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reg-title {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: xx-large;
  line-height: 48px;
  padding-bottom: 10px;
  color: #5214cd;
  background: linear-gradient(to right, #608aa7 0%, #5214cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-btn {
  letter-spacing: 1px;
  font-size: medium;
  color: #5214cd;
  width: auto !important;
}

.custom-btn:hover {
  background-color: #5214cd;
}

.end-labels {
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  font-size: medium;
  line-height: 70px;
  padding-bottom: 10px;
  color: #5214cd;
  background: linear-gradient(to right, #608aa7 0%, #5214cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.end-labels a:hover {
  font-weight: bolder;
  text-transform: capitalize;
  text-align: left;
  font-size: large;
  line-height: 70px;
  padding-bottom: 10px;
  color: #5214cd;
  background: linear-gradient(to right, #608aa7 0%, #5214cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  height: 400px;
}

@media (max-width: 768px) {

  .logo {
    height: 100px;
  }

}