/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/** align the text inside the div named dashboard to the center */
.dashboard h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #5214cd;

}

.logo {
  height: 350px;

}
.intro{
  display: flex;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.intro-title{
  color: #f84575;
}
.links {
  display: flex;
  flex-direction: row;
  width: max-content;
}